$border-color: $grey-dk-000;

$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: #a2deef;
$btn-primary-color: #a2ceef;

$code-background-color: #cfd3d7;
$search-background-color: #cfd3d7;
$table-background-color: #cfd3d7;
$feedback-color: darken($sidebar-color, 3%);
